html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: great-ink regular;
  src: url(great-ink.regular.ttf);
}
body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.63),
      rgba(255, 255, 255, 0.63)
    ),
    url("grid-white.png"); /* Ruled paper image */
  background-attachment: scroll;
  line-height: 1.6;
  background-color: #d6dbe7;
  color: #000103;
  margin: auto;
  padding: 13;
  font-family: great-ink regular;
  font-size: 30px;

  letter-spacing: 1.5px;
  line-height: 1.5;
  color: #000103;
}

img {
  max-width: 13%;
  height: auto;
  padding-left: 35px;
}
