* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: great-ink regular;
  src: url(great-ink.regular.ttf);
}

body {
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.63),
      rgba(255, 255, 255, 0.63)
    ), */
  background: url("grid-white.png"); /* Ruled paper image */

  line-height: 1.6;
  font-family: great-ink regular;
}

/* loader for weather app */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(251, 242, 133);
  background: radial-gradient(
    circle,
    rgba(251, 242, 133, 0.6334908963585435) 0%,
    rgba(224, 196, 91, 0.8407738095238095) 35%,
    rgb(113, 216, 230) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Make sure the loader appears above everything */
}

.loader::before {
  content: "Loading...";
  font-size: 40px;
  font-weight: 600;
  color: #0a0909;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(251, 242, 133);
  background: radial-gradient(
    circle,
    rgba(251, 242, 133, 0.6334908963585435) 0%,
    rgba(224, 196, 91, 0.8407738095238095) 35%,
    rgb(113, 216, 230) 100%
  );
}

.weather {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 2.5rem;
}

#location {
  font-size: 3rem;
  font-weight: 800;
}
.desc {
  font-size: 2rem;
  text-transform: capitalize;
}

.circle {
  background-color: black;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 0 15px;
}

/* 
.btn {
  font-size: 2.5rem;
  margin-top: 100px;
  color: #0a0909;

} */

.btn {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: "great-ink regular";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  margin-top: 100px;

  max-width: -moz-fit-content;
  max-width: fit-content;

  transition: 0.3s;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);

  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  outline: 0;
}

.btn:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn:hover:after {
  bottom: 2px;
  left: 2px;
}
