@font-face {
  font-family: great-ink regular;
  src: url(great-ink.regular.ttf);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: great-ink regular;
  background: linear-gradient(
      rgba(255, 255, 255, 0.63),
      rgba(255, 255, 255, 0.63)
    ),
    url("grid-white.png"); /* Ruled paper image */
  /* background-attachment: scroll;
  line-height: 1.6; */
  background-attachment: fixed;
  background-color: #d6dbe7;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-left: 30vw;
}

#whiteboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  margin-top: 0.2rem;
  border: 4px dashed #302f2f;
  background-color: #fff;
  cursor: crosshair;
}

#colors {
  display: flex;
  margin-top: 20px;
}

.color {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #6e6d6d66;
}

.color.selected {
  border: 3px solid #000000;
}

#tools {
  margin-top: 20px;
}

button,
a {
  font-family: great-ink regular;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(245, 245, 220, 0);
  border: 3px solid #000000;
  color: black;
  text-decoration: none;
}
/* .eraser {
} */

a:hover {
  background-color: #e9e91cba;
}
button:hover {
  background-color: #0056b3;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 999;
}

footer {
  margin-top: 4rem;
  font-family: "great-ink regular";
  color: #000007;
  font-size: 2rem;
  font-weight: 100;
  padding-right: 50px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: flex-start; /* Align content to the start of the flex container */
  align-items: center; /* Align items vertically in the flex container */
  width: 100%; /* Ensure it spans the full width */
  padding-left: 20px; /* Adjust as needed */
}

.cd {
  max-width: 8rem;
  position: relative;
  animation: rotation 5s infinite linear; /* Add rotation animation */
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
